@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Epilogue", sans-serif;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}

.main-header__btn {
  font-size: 0.8rem;
  font-weight: 700;
  color: #172339;
  background-color: white;
  padding: 1rem;
  border: 1px solid #172339;
  border-radius: 5px;
}

.main-heading__pattern {
  position: relative;
  top: -40px;
  left: 160px;
  width: 150px;
}

.main-heading {
  margin-top: 4rem;
  font-weight: 300;
  font-size: 2.5rem;
  color: #172339;
}

.main-heading em {
  font-style: normal;
  font-weight: 700;
}

.solution-pattern {
  margin-left: -9rem;
}
