@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Epilogue", sans-serif;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}

.main-header__btn {
  height: 48px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.14px;
  font-weight: 700;
  color: #172339;
  background-color: white;
  padding: 0 1rem;
  border: 1px solid #172339;
  border-radius: 5px;
}

.main-header__btn:hover {
  color: white;
  background-color: #172339;
  cursor: pointer;
}

.intro-curve {
  position: relative;
  top: 63px;
  left: 172px;
  width: 158px;
}

.main-heading {
  margin: 1rem;
  margin-top: 4rem;
  font-weight: 300;
  font-size: 38px;
  color: #172339;
  width: 360px;
}

.main-heading em {
  font-style: normal;
  font-weight: 700;
}

.solution-pattern {
  display: flex;
  flex-direction: column;
}

.solution-pattern div {
  display: inline-block;
}

.intro-p {
  width: 365px;
  margin: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 16px;
  font-weight: 400;
  color: #49566d;
  line-height: 28px;
  letter-spacing: 0.09px;
}

.main-section__btn {
  height: 61px;
  margin: 1rem;
  width: 60%;
  height: 60px;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
  font-weight: 700;
  color: #faf8f6;
  background-color: #172339;
  padding: 0 1rem;
  border: none;
  border-radius: 5px;
  min-width: 256px;
}

.main-section__btn:hover {
  background: linear-gradient(to bottom right, #a060ff, #cb30e3, #ffa84e);
  border: none;
  cursor: pointer;
}

.hero-image {
  width: 93%;
  margin: auto;
}

.hero-image img {
  margin-top: 2rem;
  width: 100%;
  min-width: 300px;
}

.stats-section {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-item {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-item__value {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #172339;
}

.stats-item__label {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.5px;
  color: #49566d;
}

.jeremy-image {
  display: block;
  width: 67%;
  margin: auto;
  position: relative;
  top: 230px;
  margin-top: -200px;
}

.about {
  background-color: #172339;
  color: white;
  padding: 1rem;
  padding-top: 280px;
  border-radius: 15px;
  text-align: center;
}

blockquote {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin: 2rem 0;
}

blockquote:before {
  content: '"';
}

blockquote:after {
  content: '"';
}

.about-curved-line {
  display: block;
  width: 15%;
  margin: auto;
}

.about-strong {
  font-size: 2.5rem;
  font-weight: 700;
}

.about-p {
  font-size: 2.5rem;
  margin: 2rem 0;
}

.about-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}

.about-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 3rem;
}

.footer {
  height: 25vh;
  background-color: #f3ede7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #49566d;
}

.footer p {
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
}

.footer-logos {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

@media (min-width: 768px) {
  .main-heading {
    width: 557px;
    font-size: 56px;
    font-weight: 400;
  }

  .intro-curve {
    position: relative;
    top: 60px;
    left: 249px;
    width: 229px;
  }

  .main-section__btn {
    width: 200px;
  }

  .hero-image{
    display: none;
  }

  .intro-section {
    background-image: url(./assets/image-hero-portrait.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 1.5rem;
    margin-right: 0.8rem;
  }

  .stats-section {
    flex-direction: row;
    justify-content: space-around;
  }
}
