@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Epilogue", sans-serif;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}

.main-header__btn {
  height: 48px;
  font-size: 14px;
  width: 182px;
  line-height: 24px;
  letter-spacing: -0.14px;
  font-weight: 700;
  color: #172339;
  background-color: white;
  padding: 0 1rem;
  border: 1px solid #172339;
  border-radius: 5px;
}

.main-header__btn:hover {
  color: #faf8f6;
  background-color: #172339;
  cursor: pointer;
}

.intro-curve {
  position: relative;
  top: 63px;
  left: 172px;
  width: 158px;
}

.main-heading {
  margin: 1rem;
  margin-top: 4rem;
  font-weight: 300;
  font-size: 38px;
  color: #172339;
  width: 360px;
}

.main-heading em {
  font-style: normal;
  font-weight: 700;
}

.intro-p {
  width: 365px;
  margin: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 16px;
  font-weight: 400;
  color: #49566d;
  line-height: 28px;
  letter-spacing: 0.09px;
}

.main-section__btn {
  height: 61px;
  margin: 1rem;
  width: 60%;
  height: 60px;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
  font-weight: 700;
  color: #faf8f6;
  background-color: #172339;
  padding: 0 1rem;
  border: none;
  border-radius: 5px;
  min-width: 256px;
}

.main-section__btn:hover {
  background: linear-gradient(to bottom right, #a060ff, #cb30e3, #ffa84e);
  border: none;
  cursor: pointer;
}

.hero-image {
  width: 93%;
  margin: auto;
  max-width: 500px;
}

.hero-image img {
  margin-top: 2rem;
  width: 100%;
  min-width: 300px;
}

.stats-section {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-item {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-item__value {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #172339;
}

.stats-item__label {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.5px;
  color: #49566d;
}

.jeremy-image {
  display: block;
  margin: auto;
  position: relative;
  top: 225px;
  margin-top: -200px;
}

.about {
  background-color: #172339;
  color: #faf8f6;
  padding: 1rem;
  padding-top: 280px;
  border-radius: 15px;
  text-align: center;
}

.about-wrapper {
  background-color: #f3ede7;
  height: 40vh;
  position: absolute;
  top: 240vh;
  z-index: -999;
  width: 100%;
}

blockquote {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin: 2rem 0;
}

blockquote:before {
  content: '"';
}

blockquote:after {
  content: '"';
}

.about-curved-line {
  display: block;
  margin: auto;
}

.about-strong {
  font-size: 2.5rem;
  font-weight: 700;
}

.about-p {
  font-size: 2.5rem;
  margin: 2rem 0;
}

.about-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}

.about-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 3rem;
}

.footer {
  height: 25vh;
  background-color: #f3ede7;
  color: #49566d;
}

.footer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer p {
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
}

.footer-logos {
  display: flex;
  justify-content: space-between;
  width: 110px;
}

.footer-logo:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .main-header {
    width: 90%;
    margin: auto;
    padding: 0.8rem 0;
  }

  .main-header__btn {
    font-size: 16px;
    width: 219px;
    height: 56px;
  }
  .main-heading {
    width: 557px;
    font-size: 56px;
    font-weight: 400;
  }

  .intro-curve {
    position: relative;
    top: 60px;
    left: 249px;
    width: 229px;
  }

  .main-section__btn {
    width: 200px;
  }

  .hero-image {
    display: none;
  }

  .intro-section {
    width: 90%;
    margin: auto;
    background-image: url(./assets/image-hero-portrait.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin-top: 4rem;
    margin-bottom: 6rem;
    padding-bottom: 2rem;
  }

  .jeremy-image {
    margin-top: -140px;
  }

  .stats-section {
    flex-direction: row;
    justify-content: space-around;
  }

  .about-wrapper {
    background-color: #f3ede7;
    height: 54vh;
    position: absolute;
    top: 172vh;
    z-index: -999;
    width: 100%;
  }

  .about {
    width: 90%;
    margin: auto;
    padding: 5rem;
    padding-top: 16rem;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .main-header,
  .top-section,
  .about,
  .footer-container {
    max-width: 1020px;
    margin: auto;
  }

  .top-section {
    display: flex;
    align-items: center;
    width: 90%;
  }

  .stats-section {
    flex-direction: column;
    width: 35%;
    height: 20vh;
  }

  .about {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 0;
  }

  .about-curved-line {
    margin-left: 45%;
    margin-top: 5rem;
  }

  .about-text {
    width: 40%;
    text-align: left;
  }

  .jeremy-image {
    right: 235px;
    top: 420px;
    width: 285px;
    margin-top: -400px;
  }

  .about-wrapper {
    height: 30vh;
    top: 1000px;
  }

  .footer{
    height: 20vh;
  }
}
